*{

margin:0;
padding:0;
box-sizing:border-box;

}
.fonts{



    font-family:"Inter",'Times New Roman';
    font-optical-sizing: auto;
}
.buttons{

    color:white;
    background-color:#0e6532;
    border-radius: 100px;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    font-weight: 500;
}
.buttons:hover{
    background-color:#5f9171;
}
header{
    background-color:#1a7742;
}

.color-green{
    color:#0e6532;
}
nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 80px;
    margin:auto;
    max-width: 1400px;
}
nav.logos{
    width:100%;
    max-width:150px;

}
nav .menu{
    display: flex;
    font-size: 14px;
    font-weight: 45000;
    list-style-type: none;
    gap: 30px;
    color: black;
    align-items: center;
}
.line:hover{

    text-decoration: underline;
    text-decoration-color: #2fb969;
}
#banner{
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:60px 115px 120px 115px;

}
banner .bannercontents{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin:auto;


}

#banner .bannercontents.early-access{
    width: 230px;
    color: #30B868;
    display: flex;
    gap: 5px;
    background-color: white;
    justify-content: center;
    padding: 8px 10px 8px 10px;
    border-radius: 100px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}




.bannercontents h1{
    color: white;
    font-size: 72px;
    width: 770px;
    padding-top:16px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    line-height: 84px;
}

.bannercontents.banner-para{
    padding-top: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 770px;
    align-items: center;
}

.bannercontents .banner-buttons{
    display: flex;
    width: 465px;
    padding-top: 32px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    gap: 16px;
}

.btns{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
}

.btns:hover{
    border: 1px solid rgb(182, 182, 182);
    color: rgb(182, 182, 182);
}

#ccontainer{
    width: 100%;
    position: relative;
    z-index: 1;
   
    
}

#ccontainer .section-head{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#ccontainer .section-head h1{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    padding-top: 60px;
}

#ccontainer .section-head p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
}

#ccontainer .cardbox{
    display: flex;
    padding-top: 44px;
    margin: 0 120px;
    gap: 24px;
}

#ccontainer .cardbox .card{
    
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #00000012;
    padding:24px 24px;
    
    
    
}

#ccontainer .cardbox .card-img{
    /* border: #30B868 solid 1px; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #F95555;
    padding: 15.5px 15.5px;
    border-radius: 50%;

}

#ccontainer .cardbox .card .card-img{
    align-items: center;
    width: 100%;
    background-color: F95555;
    padding-top: 55.5px;
}

#ccontainer .cardbox .card h3{
    font-size: 24px;
    font-weight: 600;
    padding-top: 16px;
}

#ccontainer .cardbox .card p{
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 45.5px;
    color: #627382;
}

#brainsection{
    width: 100%;
    padding: 120px;
    border: 1px solid #30B868;
    margin-top: -60px;
    background-color: white;
    position: relative;
    z-index: 2;
    
}

#brainsection .brainbox{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0 auto;
   

}

#brainsection .brainbox h1{
    font-size: 48px;
    padding-top: 16px;
    color: #001931;
    padding-bottom: 16px;
}

#brainsection .brainbox p{
    font-size: 16px;
    color: #627382;
   
}
#brainsection .brainbox .brainhead .solution{
    color: #30B868;
    font-size: 16px;
}

#brainsection .brainth{
    padding-top: 40px;
    align-items: center;

}

#brainsection .brainth .thick{
    display: flex;
    padding-bottom: 16px;
    gap: 6px;
    align-items: center;
}
#readyc{
    width: 100%;
   
}

#readyc .readyb{
    margin: 0px 120px 120px 120px;
    background-color: #F7F6F2;
   
    padding: 80px 40px;
   
    align-items: center;
    border-radius: 12px;

}

#readyc .readyb .readyhead{
    text-align: center;
    padding-bottom: 24px;
}
#readyc .readyb .readyhead h1{
    padding-bottom: 16px;
    color: #001931;
}

#readyc .readyb .readyhead p{
    color: #627382;
}

#readyc.readyb .readybtn{
    text-align: center;
}

#readyc .readyb .readybtn .buttons{
    box-shadow: 0px 10px 20px 0px #00000030;
}

#readyc .readyb.readybtn p{
    padding-top: 16px;
    color: #627382;
}

#footerc{
    width: 100%;
    color: white;
    background-color: #001931;
    padding: 120px 120px 30px 120px ;
}
#footer-container .footerb{
    width: 100%;
    display: flex;
    
    justify-content: space-between;
   
    align-items: center;
    text-align: left;
    padding-bottom: 80px;
}

#footerc .footerb .socials{
    width: 220px;
}

#footerc .footerb .socials p{
    padding-bottom: 16px;
    font-size: 20px;
}

#footerc .footerb .socials a{
    margin-right: 10px;
}

a:hover{
    background-color: #30B868;
    border-radius: 50%;
}

#footerc hr{
    opacity: 30%;
}

#footerc .rightreserved{
    padding-top: 40px;
    text-align: center;
    display: flex;
}


#footer-container .rightreserved p{
    color: #FAFAFA;
    font-size: 16px;

}